name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  shared:
    name: Shared & Android app
    runs-on: ubuntu-24.04
    steps:

    - uses: actions/checkout@v5

    - name: Setup JDK
      uses: actions/setup-java@v5
      with:
       distribution: 'temurin'
       java-version: '21'

    - name: Build
      run: ./gradlew spotlessCheck assembleDebug

    - name: Test
      run: ./gradlew testDebugUnitTest

    - name: Publish Kotlin results
      uses: dorny/test-reporter@v2.1.1
      if: always()
      with:
        name: Kotlin results
        path: '**/build/test-results/**/TEST-*.xml'
        reporter: java-junit
        fail-on-error: true

  ios:
    name: iOS app
    runs-on: macos-15
    steps:

    - uses: actions/checkout@v5

    - name: Configure Xcode
      uses: maxim-lobanov/setup-xcode@v1.6.0
      with:
        xcode-version: '16.1'

    - name: Setup JDK
      uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: '21'

    - name: Test
      run: |
        xcodebuild test -project ios/RunLog.xcodeproj \
          -scheme RunLog \
          -sdk iphonesimulator \
          -destination 'platform=iOS Simulator,name=iPhone 16,OS=18.1' \
          -resultBundlePath TestResults

    - name: Publish iOS results
      uses: slidoapp/xcresulttool@v3.1.0
      if: always()
      with:
        title: iOS results
        path: 'TestResults.xcresult'
